<?xml version="1.0"?>
<launch>
  
  <!-- To initiate all the action and condition nodes of the left_arm -->
  <node name="button1_condition_L" pkg="panda_multiple_arms" type="button1_condition.py" output="screen" />
  <node name="button1_in_goal_condition_L" pkg="panda_multiple_arms" type="button1_in_goal.py" output="screen" />
  <node name="button1_not_condition_L" pkg="panda_multiple_arms" type="button1_not_condition.py" output="screen" />
  <node name="button2_condition_L" pkg="panda_multiple_arms" type="button2_condition.py" output="screen" />
  <node name="button2_in_goal_condition_L" pkg="panda_multiple_arms" type="button2_in_goal.py" output="screen" />
  <node name="button2_not_condition_L" pkg="panda_multiple_arms" type="button2_not_condition.py" output="screen" />
  <node name="button3_condition_L" pkg="panda_multiple_arms" type="button3_condition.py" output="screen" />
  <node name="button3_in_goal_condition_L" pkg="panda_multiple_arms" type="button3_in_goal.py" output="screen" />
  <node name="button3_not_condition_L" pkg="panda_multiple_arms" type="button3_not_condition.py" output="screen" />
  <node name="buttonO_condition_L" pkg="panda_multiple_arms" type="buttonO_condition.py" output="screen" />
  <node name="Obstruct_out_condition_L" pkg="panda_multiple_arms" type="obstruct1_out.py" output="screen" />
  <node name="buttonO_not_condition_L" pkg="panda_multiple_arms" type="buttonO_not_condition.py" output="screen" />
  <node name="goal1_obstruct" pkg="panda_multiple_arms" type="goal1_free.py" output="screen" />
  <node name="goal2_obstruct" pkg="panda_multiple_arms" type="goal2_free.py" output="screen" />
  <node name="goal3_obstruct" pkg="panda_multiple_arms" type="goal3_free.py" output="screen" />
  <node name="Pick1_L" pkg="panda_multiple_arms" type="Pick1_L.py" output="screen" />
  <node name="Pick2_L" pkg="panda_multiple_arms" type="Pick2_L.py" output="screen" />
  <node name="Pick3_L" pkg="panda_multiple_arms" type="Pick3_L.py" output="screen" />
  <node name="PickO_L" pkg="panda_multiple_arms" type="PickO_L.py" output="screen" />
  <node name="Place1_L" pkg="panda_multiple_arms" type="Place1_L.py" output="screen" />
  <node name="Place2_L" pkg="panda_multiple_arms" type="Place2_L.py" output="screen" />
  <node name="Place3_L" pkg="panda_multiple_arms" type="Place3_L.py" output="screen" />
  <node name="PlaceO_L" pkg="panda_multiple_arms" type="PlaceO_L.py" output="screen" />
  
</launch>
